.verticalLine {
  border-left: 6px solid black;
  height: 2000px;
  position: absolute;
  left: 1%;
}
p {
  text-align: center;
  font-family: Patrick Hand;
  color: black;
  font-size: 20px;
}
.download-pdf {
  font-size: 15px !important;
  color: grey;
}
h3 {
  text-align: center;

  color: #0cbaba;
  font-size: 25px;
}
i {
  font-size: 20px;
}
